.container{
    width: 100vw;
    height: 100vh;
    background-image: url("/image/10.png");
    background-position: center;
    background-size: cover;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap:180px;
}
.heading{
    padding-right: 75%;
    color: #fff;
}
.innerbox{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    gap: 50px;
    

}
.singlebox{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.text{
    font-family: 'Inter', sans-serif;
    font-size: 14px;  
    color: #fff;
    padding-right: 40%;
}
@media (max-width: 1200px){
    .container{
        height: 100%;
    }
    .innerbox {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
@media (max-width: 500px){
    .container{
        padding: 30px;
    }
    .text {
       padding: 0;
    }
}