.container{
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.heading{
    color: #fff;
    padding-right: 80%;
}
.innerbox{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.singlebox1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.topbox1{
    background-image: url("/image/33.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
}
.bottombox1{
    width: 100%;
    height: 30%;
    background-color: #cf2025;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.singlebox2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.topbox2{
    background-image: url("/image/44.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
}
.bottombox2{
    width: 100%;
    height: 30%;
    background-color: #cf2025;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.singlebox3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.topbox3{
    background-image: url("/image/55.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70%;
}
.bottombox3{
    width: 100%;
    height: 30%;
    background-color: #cf2025;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.toptext{
    color: #fff;
}
.bottomtext{
    color: #fff;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

@media (max-width:1300px) {
.container{
    height: 100%;
}
    .innerbox{
        grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       
    }
    .topbox1, .topbox2, .topbox3{
        height: 60vh;
        width: 100%;
    }
}
@media (max-width: 500px){
    .container{
        padding: 30px;
    }
  }